<p class="font-bold text-2xl">For Loop Contextual Variables</p>
<!-- $count, $index, $last, $index are Contextual Variables which used inside for loop -->
@for (Character of Characters; track Character) {
    @if ($first) {
      <p class="text-green-500">{{ $index + 1 }}. {{ Character }}</p>
    } @else if ($last || $index == 7) {
      <p class="text-blue-400">{{ $index + 1 }}. {{ Character }}</p>
    }
    @else {
        <p>{{ $index + 1 }}. {{ Character }}</p>
    }
}
@empty {
    <p class="text-black">No Record Found</p>
}
<p>Total Characters are {{this.Characters.length}}</p>
