<h1>If Else | Control Flow</h1>
<button (click)="changecolortored()">Change color to red</button>
<button (click)="changecolortogreen()">Change color to green</button>
<button (click)="toggle()">{{ display ? 'Change color to red' : 'Change color to green' }}</button>
<!--Changing text through turnary operator-->
@if (display == true) {
  <div style="width: 200px; height: 200px; background-color: green"></div>
} @else {
  <div style="width: 200px; height: 200px; background-color: red"></div>
}
<h1>Else If | Control Flow</h1>
<button (click)="multipletoggle(1)">Orange</button>
<button (click)="multipletoggle(2)">Aqua</button>
<button (click)="multipletoggle(3)">Purple</button>
<button (click)="multipletoggle(4)">Yellow</button>
<input type="number" placeholder="Enter Number" (input)="handleInput($event)"/> 

@if (color == 1) {
  <div style="width: 200px; height: 200px; background-color: orange"></div>
} @else if (color == 2) {
  <div style="width: 200px; height: 200px; background-color: aqua"></div>
} @else if (color == 3) {
  <div style="width: 200px; height: 200px; background-color: purple"></div>
} @else {
  <div style="width: 200px; height: 200px; background-color: yellow"></div>
}
